@keyframes run{
  0% {
    left: 0px;
  }
  30% {
    left: -750px;
  }
  60%{
    left: -1500px;
  }
  90% {
    left: -2250px;
  }
  100% {
    left: -3000px;
  }
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 101;
}
.target {
	width: 749px;
	height: 804px;
	overflow: hidden;
  position: absolute;
  left: 0;
  top: 530px;
  .box {
    width: 3750px;
    height: 804px;
    position: absolute;
    left: 0px;
    top: 0;
    background: url(../../assets/images/target1.png) no-repeat center top;
    background-size: 100% 100%;
    animation: run 2s steps(1,end) both;
  }
}