@keyframes run{
  0% {
    left: 0px;
  }
  22.5% {
    left: -750px;
  }
  45%{
    left: -1500px;
  }
  67.5%{
    left: -2250px;
  }
  95% {
    left: -3000px;
  }
  100% {
    left: -3750px;
  }
}
@keyframes run2{
  0% {
    left: 0px;
  }
  25% {
    left: -750px;
  }
  50% {
    left: -1500px;
  }
  75% {
    left: -2250px;
  }
  100% {
    left: -3000px;
  }
}
@keyframes run3{
  0% {
    left: 0px;
  }
  
  48%{
    left: -2250px;
  }
  95% {
    left: -3000px;
  }
  100% {
    left: -3750px;
  }
}
@keyframes run4{
  0% {
    left: 0px;
  }
  32% {
    left: -750px;
  }
  66% {
    left: -1500px;
  }
  99% {
    left: -2250px;
  }
  100% {
    left: -3000px;
  }
}
@keyframes run5{
  0% {
    left: 0px;
  }
  32% {
    left: -90px;
  }
  66% {
    left: -180px;
  }
  100% {
    left: -270px;
  }
  
}
@keyframes run6{
  0% {
    left: 0px;
  }
  25% {
    left: -688px;
  }
  50% {
    left: -1376px;
  }
  75% {
    left: -2064px;
  }
  100% {
    left: -2064px;
  }
  // 100%{
  //   left: -2752px;
  // }
}
@keyframes fadeInOut {
  0% {
    transform:translate3d(-1000%,0,0);
  }
  20% {
    transform:translate3d(0,0,0);
  }
  80% {
    transform:translate3d(0,0,0);
  }
  100% {
    transform:translate3d(1000%,0,0);
  }
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 101;
}
.target {
	width: 749px;
	height: 804px;
	overflow: hidden;
  position: absolute;
  left: 0;
  top: 530px;
  z-index: 2;
  .box {
    width: 3750px;
    height: 804px;
    position: absolute;
    left: 0px;
    top: 0;
    
    &.ttTargetImg {
      background: url(../../assets/images/tt/target.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ccTargetImg {
      background: url(../../assets/images/cc/target.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.targetAnimation {
      animation: run3 1.2s steps(1,end) both;
    }
  }
}
.fly {
  width: 750px;
  height: 1334px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  .box {
    width: 3000px;
    height: 1334px;
    position: absolute;
    left: 0px;
    top: 0;
    &.ttFlyTop {
      background: url(../../assets/images/tt/fly-top.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ttFlyLeft {
      background: url(../../assets/images/tt/fly-left.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ttFlyRight {
      background: url(../../assets/images/tt/fly-right.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ccFlyTop {
      background: url(../../assets/images/cc/fly-top.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ccFlyLeft {
      background: url(../../assets/images/cc/fly-left.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ccFlyRight {
      background: url(../../assets/images/cc/fly-right.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.flyAnimation {
      animation: run4 0.6s steps(1,end) both;
    }
  }
}
.player {
  position: absolute;
  left: 50%;
  margin-left: -245px;
  top: 100px;
  transform:translate3d(-1000%,0,0);
  z-index: 2;
  &.playerAnimation {
    animation: fadeInOut 2.2s;
  }
  
  img {
    width: 491px;
    height: 202px;
  }
}
.targetDisk {
  width: 750px;
  height: 792px;
  position: absolute;
  left: 0;
  top: 190px;
  z-index: 103;
  background: url(../../../static/rings.png) no-repeat center top;
  background-size: cover;
  overflow: hidden;
}
.ringsCount {
  width: 386px;
  height: 166px;
  background: url(../../assets/images/award-rings-bg.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  top: 60px;
  font-size: 100px;
  font-family: 'customBold';
  color: #fff;
  margin-left: -193px;
  display: flex;
  align-items: center;
  z-index: 104;
  span {
    margin-left: 30px;
  }
}
.rings {
  width: 688px;
  height: 688px;
  overflow: hidden;
  position: absolute;
  left: 31px;
  top: 251px;
  border-radius: 50%;
  z-index: 104;
  .box {
    width: 2752px;
    height: 688px;
    position: absolute;
    left: 0px;
    top: 0;
    &.ring1 {
      background: url(../../assets/images/rings/ring1.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ring2 {
      background: url(../../assets/images/rings/ring2.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ring3 {
      background: url(../../assets/images/rings/ring3.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ring4 {
      background: url(../../assets/images/rings/ring4.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ring5 {
      background: url(../../assets/images/rings/ring5.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ring6 {
      background: url(../../assets/images/rings/ring6.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ring7 {
      background: url(../../assets/images/rings/ring7.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ring8 {
      background: url(../../assets/images/rings/ring8.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ring9 {
      background: url(../../assets/images/rings/ring9.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.ring10 {
      background: url(../../assets/images/rings/ring10.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.animation {
      animation: run6 0.5s steps(1,end) 0.6s 1.5 forwards;
    }
  }
}
.flyArrow {
  width: 90px;
  height: 90px;
  overflow: hidden;
  position: absolute;
  z-index: 105;
  &.left10 {
    top: 515px;
    left: 350px;
  }
  &.left9 {
    top: 515px;
    left: 300px;
  }
  &.left8 {
    top: 515px;
    left: 260px;
  }
  &.left7 {
    top: 515px;
    left: 230px;
  }
  &.left6 {
    top: 515px;
    left: 195px;
  }
  &.left5 {
    top: 515px;
    left: 160px;
  }
  &.left4 {
    top: 515px;
    left: 130px;
  }
  &.left3 {
    top: 515px;
    left: 90px;
  }
  &.left2 {
    top: 515px;
    left: 60px;
  }
  &.left1 {
    top: 515px;
    left: 20px;
  }
  &.top10 {
    left: 350px;
    top: 515px;
  }
  &.top9 {
    left: 350px;
    top: 460px;
  }
  &.top8 {
    left: 350px;
    top: 425px;
  }
  &.top7 {
    left: 350px;
    top: 390px;
  }
  &.top6 {
    left: 350px;
    top: 360px;
  }
  &.top5 {
    left: 350px;
    top: 325px;
  }
  &.top4 {
    left: 350px;
    top: 290px;
  }
  &.top3 {
    left: 350px;
    top: 255px;
  }
  &.top2 {
    left: 350px;
    top: 220px;
  }
  &.top1 {
    left: 350px;
    top: 180px;
  }
  &.bottom10 {
    left: 350px;
    bottom: 730px;
  }
  &.bottom9 {
    left: 350px;
    bottom: 680px;
  }
  &.bottom8 {
    left: 350px;
    bottom: 645px;
  }
  &.bottom7 {
    left: 350px;
    bottom: 610px;
  }
  &.bottom6 {
    left: 350px;
    bottom: 580px;
  }
  &.bottom5 {
    left: 350px;
    bottom: 545px;
  }
  &.bottom4 {
    left: 350px;
    bottom: 510px;
  }
  &.bottom3 {
    left: 350px;
    bottom: 475px;
  }
  &.bottom2 {
    left: 350px;
    bottom: 440px;
  }
  &.bottom1 {
    left: 350px;
    bottom: 410px;
  }
  &.right10 {
    top: 515px;
    right: 310px;
  }
  &.right9 {
    top: 515px;
    right: 255px;
  }
  &.right8 {
    top: 515px;
    right: 225px;
  }
  &.right7 {
    top: 515px;
    right: 190px;
  }
  &.right6 {
    top: 515px;
    right: 150px;
  }
  &.right5 {
    top: 515px;
    right: 120px;
  }
  &.right4 {
    top: 515px;
    right: 85px;
  }
  &.right3 {
    top: 515px;
    right: 50px;
  }
  &.right2 {
    top: 515px;
    right: 20px;
  }
  &.right1 {
    top: 515px;
    right: -15px;
  }
  .box {
    width: 360px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 0;
    &.boxTT {
      background: url(../../../static/tt-arrow.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.boxCC {
      background: url(../../../static/cc-arrow.png) no-repeat center top;
      background-size: 100% 100%;
    }
    &.flyArrowAnimation {
      animation: run5 0.6s steps(1,end)  1 forwards;
    }
  }
}


@keyframes runBg{
  0% {
    left: 0px;
  }
  33% {
    left: -750px;
  }
  66.66% {
    left: -1500px;
  }
  100% {
    left: -2250px;
  }
}
@keyframes runFly{
  0% {
    left: 750px;
  }
  33% {
    left: 0;
  }
  66.66% {
    left: -750px;
  }
  100% {
    left: -1500px;
  }
}
.bg {
  width: 3000px;
  height: 1334px;
  position: absolute;
  left: 0px;
  top: 0;
  background: url(../../../static/bg3.jpg) no-repeat center top;
  background-size: 100% 100%;
  &.bgAnimation {
    animation: runBg 0.3s steps(1,end) 0.6s both;
  }
}
.bgFly {
  width: 2250px;
  height: 1334px;
  position: absolute;
  left: 750px;
  top: 0;
  z-index: 1;
  &.ttBgFlyLeft {
    background: url(../../assets/images/tt/bg-fly-left.png) no-repeat center top;
    background-size: 100% 100%;
  }
  &.ttFlyRight {
    background: url(../../assets/images/tt/bg-fly-right.png) no-repeat center top;
    background-size: 100% 100%;
  }
  &.ttFlyTop {
    background: url(../../assets/images/tt/bg-fly-top.png) no-repeat center top;
    background-size: 100% 100%;
  }
  &.ccFlyLeft {
    background: url(../../assets/images/cc/bg-fly-left.png) no-repeat center top;
    background-size: 100% 100%;
  }
  &.ccFlyRight {
    background: url(../../assets/images/cc/bg-fly-right.png) no-repeat center top;
    background-size: 100% 100%;
  }
  &.ccFlyTop {
    background: url(../../assets/images/cc/bg-fly-top.png) no-repeat center top;
    background-size: 100% 100%;
  }
  &.bgAnimation {
    animation: runFly 0.3s steps(1,end) 0.6s both;
  }
}

@keyframes rotateBg{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scaleBg {
  0%{
    transform: scale(1.4);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes enlargeBg {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
.matchResultContainer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  transform: scale(1.1);
  .matchResult {
    height: 666px;
    position: relative;
    top: 20%;
  }
  .apertureImg {
    width: 486px;
    height: 482px;
    position: absolute;
    left: 132px;
    top: 100px;
    z-index: 1;
    transform: scale(1.1);
    animation: rotateBg 3s infinite linear;
  }
  .cardImg {
    width: 750px;
    height: 666px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
  .text {
    width: 276px;
    height: 103px;
    position: absolute;
    left: 254px;
    top: 290px;
    z-index: 3;
    &.text1 {
      transform: scale(1.4);
    }
    &.text2 {
      opacity: 0;
    }
    &.scaleAnimation1 {
      animation: scaleBg 0.5s linear  forwards;
    }
    &.scaleAnimation2 {
      animation: enlargeBg 0.5s linear 0.5s forwards;
    }
    
  }
}