.dropDownMore {
  width: 200px;
  height: 254px;
  background: url(../../assets/images/drop-more-bg.png) no-repeat center top;
  background-size: 100% 100%;
  ul {
    padding-top: 25px;
  }
  li {
    display: flex;
    align-items: center;
    height: 73px;
    border-bottom: 1px solid #fff;
    margin: 0 21px;
    font-size: 28px;
    color: #fff;
    &:last-child {
      border-bottom: none;
    }
    img {
      width: 30px;
      flex:0 0 30px;
      margin-right: 12px;
    }
  }

}
.ruleContent {
  width: 530px;
  height: 526px;
  padding: 0 5px 0 10px;
  overflow-y: auto;
  font-size: 28px;
  color: #444;
  line-height: 40px;
  margin: 160px auto 5px;
  word-break: break-all;
}