.container {
  padding-top: 29px;
}
.group {
  float: right;
  margin-right: 45px;
  position: relative;
  .groupItem {
    float: left;
    .groupItemIcon {
      height: 87px;
      margin-left: 20px;
    }
  }
  .more {
    position: relative;
  }
}
.dropDownMoreContainer {
  position: absolute;
  right: -21px;
  top: 83px;
  z-index: 5;
}
.welfareTask,.recevieGold {
  position: relative;
}
.recevieGold {
  left: 6px;
}

.dot {
  display: block;
  width: 18px;
  height: 18px;
  background: #ff0000;
  position: absolute;
  right: 14px;
  top: 0;
  border-radius: 50%;
}
