.container {
  padding-top: 32px;
  overflow: hidden;
}
.group {
  float: right;
  margin-right: 45px;
  .groupItem {
    float: left;
    img {
      height: 87px;
      margin-left: 20px;
    }
  }
}