.container {
  padding-bottom: 66px;
  position: relative;
  z-index: 1;
}
@keyframes runFlicker {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.group {
  display: flex;
  justify-content: center;
  .groupLeft,.groupRight,.groupCenter {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: #802F00;
    .text {
      position: absolute;
      top: 75px;
    }
  }
  .groupLeft,.groupRight,.groupCenter {
    width: 233px;
    height: 151px;
    .stakeAmountContainer {
      position: absolute;
      right: -5px;
      bottom: 116px;
      display: flex;
      flex-direction: column;
      z-index: 2;
    }
    .stakeAmount {
      display: inline-block;
      min-width: 12px;
      padding:2px 5px;
      background: #FFE6B9;
      font-size: 16px;
      color: #FC5A0D;
      margin-bottom: 3px;
      &.stakeGrey {
        background: rgb(90, 90, 238);
        color: #fff;
      }
    }
  }
  .groupLeft {
    left: 17px;
    z-index: 2;
    &::before {
      content: '';
      width: 233px;
      height: 151px;
      background: url(./images/stake-left.png) center top;
      background-size: 100% 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }
    .stakeAmountContainer {
      right: 20px;
      z-index: 3;
    }
    .text {
      left: 100px;
      z-index: 3;
    }
  }
  .groupLeftLight {
    position: relative;
    &::after {
      content: '';
      width: 263px;
      height: 197px;
      background: url(../../../static/left-light.png) no-repeat center top;
      background-size: 100% 100%;
      position: absolute;
      left: 0px;
      top: -30px;
      z-index: -1;
      opacity: 0;
      animation: runFlicker 0.5s 1s;
    }
  }
  .groupCenter {
    width: 193px;
    height: 151px;
    background: url(./images/stake-center.png) center top;
    background-size: 100% 100%;
    .text {
      width: 100%;
      text-align: center;
    }
  }
  .groupRight {
    background: url(./images/stake-right.png) center top;
    background-size: 100% 100%;
    right: 24px;
    .stakeAmount {
      right: 8px;
    }
    .text {
      right: 95px;
    }
  }
}