.container {
  padding: 19px 0 17px 0;
  clear: both;
  .header {
    width: 542px;
    height: 106px;
    background: url(./images/header-bg.png) no-repeat center top;
    background-size: 100% 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .players {
    &.playersLeft {
      position: absolute;
      left: 0;
      top: 30px;
    }
    &.playersRight {
      position: absolute;
      right: 0;
      top: 29px;
    }
    ul {
      display: flex;
      padding: 7px 12px 0;
    }
    li{
      flex: 1;
      margin-right: 7px;
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 37px;
        height: 37px;
      }
    }
  }
  .countDown {
    width: 100px;
    height: 100px;
    font-size: 55px;
    color: #FD3F2D;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 3px;
    margin-left: -48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}