.container {
  height: 100%;
  background: url(./bg1.jpg) no-repeat center top;
  background-size: 100% 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.scaleTransition {
    transform: scale(8);
    transform-origin: center center;
    transition:all 0.1s;
  }
}